gradio
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
transformers
opencv-python-headless
pillow
numpy
scipy
facenet-pytorch
librosa
timm
einops
ftfy
pandas
mediapipe
scikit-image
scikit-learn